{% extends 'base_admin.html' %}

{% block content %}
<div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; gap: 50px;">
        <a href="{% url 'admin_marcaslist'%}"  style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Marcas
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Modelos
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Cores
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Combustiveis
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Fornecedores
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Manutenções
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Peças
            </div>
        </a>

        <a href="" style="text-decoration: none; color: rgb(102, 181, 255); font-size: 24px;">
            <div style="display:flex; width: 20vw; background: black; justify-content:center; height: 20vh; align-items: center;"> 
                Utilizadores
            </div>
        </a>
    </div>
</div>
{% endblock %}
