{% extends 'base.html' %}

{% block content %}
<div style="display: flex; gap: 20px;">
    <!-- Conteúdo principal -->
    <div style="flex: 2; color: white;">
        <div style="display: flex; flex-wrap: wrap; gap: 25px;">
            <!-- Cartões -->
            <div class="card">
                <div class="card-title">Nº de Reservas</div>
                <div class="card-value">{{ total_reservas }}</div>
            </div>
            <div class="card">
                <div class="card-title">% de danos</div>
                <div class="card-value">{{ percentagem_danos }}%</div>
            </div>
            <div class="card">
                <div class="card-title">Média de Km</div>
                <div class="card-value">{{ mediaKmPercorridos }}</div>
            </div>
            <div class="card">
                <div class="card-title">Total de Km</div>
                <div class="card-value">{{ TotalKmPercorridos }}</div>
            </div>
            <div class="card">
                <div class="card-title">Marca Preferida</div>
                <div class="card-value">{{ marca_preferida }}</div>
            </div>
            <div class="card">
                <div class="card-title">Modelo Preferido</div>
                <div class="card-value">{{ modelo_preferido }}</div>
            </div>
        </div>
    </div>

    <!-- Viaturas nas tendências -->
    <div style="max-width: 400px; flex: 1; background-color: black; padding: 20px; color: white; border-radius: 8px;">
        <div style="font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px;">Viaturas nas Tendências</div>
        <div class="viaturas-container">
            {% for viatura in viaturas %}
            <a href="{% url 'viatura_detail' viatura.0 %}" class="viatura-item">
                <div style="justify-content: center;">
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/11716181-ilustracao-de-desenho-animado-de-carro-vetor.jpg" alt="Viatura">
                </div>
                <div class="row-gap">
                    <div><strong>Viatura:</strong> {{ viatura.1 }} {{ viatura.2 }}</div>
                    <div><strong>Transmissão:</strong> {{ viatura.3 }}</div>
                    <div><strong>Nº Reservas:</strong> {{ viatura.4 }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
