{% extends 'clientes_home.html' %}

{% block title %}Viaturas{% endblock %}

{% block content %}
    {% if viatura %}
    <div style="margin: 50px;"> <!--- Margin -->

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; column-gap: 50px;"> <!--- flex -->
        <div style="flex-basis: 55%; height: 500px; width: 100%; background-color: gray;"> <!--- Imagem -->
                
        </div>
        <div style="flex-basis: 40%;"> <!--- Detalhes -->
            <div style="display: flex; flex-direction: row; row-gap: 25px; flex-wrap: wrap; justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder; font-size: 30px;"> Detalhes </text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <div style="width: 100%; text-align: right; margin: 0px 0px 10px 0px;">
                        {% if viatura.8 == 'Disponível' %}  <button style="width: 10vw; min-width: 150px; max-width: 200px; height: 5vh; min-height: 50px; max-height: 75px; border-radius: 10px; font-size: 15px; color: white; font-weight: bolder; background-color: green;" onclick="window.location.href='{% url 'criar_reserva' viatura.0 %}'"> Reservar </button>
                            {% else %}<button style="width: 10vw; min-width: 150px; max-width: 200px; height: 5vh; min-height: 50px; max-height: 75px; border-radius: 10px; font-size: 15px; color: white; font-weight: bolder; background-color: red;"> Indisponivel </button>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; row-gap: 25px; flex-wrap: wrap; margin-top: 25px; justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Marca </text>
                    <text> {{ viatura.5 }}</text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Modelo </text>
                    <text> {{ viatura.4 }} </text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Tipo viatura </text>
                    <text> {{ viatura.6 }} </text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Cor </text>
                    <text> {{ viatura.7 }} </text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Km </text>
                    <text> {{ viatura.2 }}</text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%;">
                    <text style="font-weight: bolder;">Ano </text>
                    <text> {{ viatura.3 }}</text>
                </div>
                <div style="display: flex; flex-direction: column; row-gap: 0px; flex-basis: 50%; ">
                    <text style="font-weight: bolder;">Matricula </text>
                    <text> {{ viatura.1 }} </text>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 25px 0px 0px 0px;"> <!--- outros detalhes -->
        <text style="font-weight: bolder; font-size: 20px;"> Destaques </text>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; column-gap: 2.6%; row-gap: 60px;">
            <div style="background-color: black; height: 150px; width: 150px;">
                <div style="background-color: white; margin: 25px  auto 2px auto; width: 50px; height: 50px;"> </div>
                <div style="color: white; text-align: center; margin: 5px 0px 15px 0px; font-size: 14px;"> 
                    Combustivel 
                </div>
                <div style="color: white; text-align: center;"> 
                    {{ viatura.9}} 
                </div>
            </div>
            <div style="background-color: black; height: 150px; width: 150px;">
                <div style="background-color: white; margin: 25px  auto 2px auto; width: 50px; height: 50px;"> </div>
                <div style="color: white; text-align: center; margin: 5px 0px 15px 0px; font-size: 14px;"> 
                    Combustivel 
                </div>
                <div style="color: white; text-align: center;"> 
                    Diesel 
                </div>
            </div>
            <div style="background-color: black; height: 150px; width: 150px;">
                <div style="background-color: white; margin: 25px  auto 2px auto; width: 50px; height: 50px;"> </div>
                <div style="color: white; text-align: center; margin: 5px 0px 15px 0px; font-size: 14px;"> 
                    Combustivel 
                </div>
                <div style="color: white; text-align: center;"> 
                    Diesel 
                </div>
            </div>
            <div style="background-color: black; height: 150px; width: 150px;">
                <div style="background-color: white; margin: 25px  auto 2px auto; width: 50px; height: 50px;"> </div>
                <div style="color: white; text-align: center; margin: 5px 0px 15px 0px; font-size: 14px;"> 
                    Combustivel 
                </div>
                <div style="color: white; text-align: center;"> 
                    Diesel 
                </div>
            </div>
            <div style="background-color: black; height: 150px; width: 150px;">
                <div style="background-color: white; margin: 25px  auto 2px auto; width: 50px; height: 50px;"> </div>
                <div style="color: white; text-align: center; margin: 5px 0px 15px 0px; font-size: 14px;"> 
                    Combustivel 
                </div>
                <div style="color: white; text-align: center;"> 
                    Diesel 
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
